<li class='item skill skill-card' data-item-id='{{id}}'>
  <header class='card-header flexrow' data-item-id='{{id}}'>
    <img class='skill-icon' src='{{img}}' />
    <button type='button' class='skill-name item-name' title='{{name}}'>
      {{#if system.isCoreSkill}}★ {{/if}}{{name}}
      {{#if system.attribute}}
        ({{localizeSkillAttribute system.attribute @root.useAttributeShorts}})
      {{/if}}
    </button>
    <button
      type='button'
      class='skill-die rollable'
      title='{{localize "SWADE.Roll"}} {{name}}'
    >
      <img
        class='skill-die-icon'
        src='systems/swade/assets/official/dice/d{{system.die.sides}}.svg'
        alt='d{{system.die.sides}}{{modifier system.die.modifier}}'
      />
      {{modifier system.die.modifier}}
    </button>
    <div class='item-controls'>
      {{#if isOwner}}
        <button
          type='button'
          class='item-control item-edit'
          title='{{localize "SWADE.Ed"}} {{name}}'
        >
          <i class='fas fa-edit'></i>
        </button>
      {{/if}}
    </div>
  </header>
  <div class='card-content' style='display: none;'>
    {{#if system.description}} {{enrich system.description}} {{else}}
      <div class='swade-core'><p>No description available</p></div>
    {{/if}}
  </div>
</li>