<div class='form-group'>
  <label>{{localize 'SWADE.Trait'}}</label>
  <span class='form-fields'>
    <input
      name='system.actions.skill'
      type='text'
      value='{{item.system.actions.skill}}'
      placeholder='{{localize "SWADE.Trait"}}'
    />
  </span>
</div>
<div class='form-group'>
  <label>{{localize 'SWADE.SkillModUni'}}</label>
  <span class='form-fields'>
    <input
      name='system.actions.skillMod'
      type='text'
      value='{{item.system.actions.skillMod}}'
      placeholder='{{localize "SWADE.RollExample"}}'
      title='{{localize "SWADE.ModHint"}}'
    />
  </span>
</div>
<div class='form-group'>
  <label>{{localize 'SWADE.DmgModUni'}}</label>
  <span class='form-fields'>
    <input
      name='system.actions.dmgMod'
      type='text'
      value='{{item.system.actions.dmgMod}}'
      placeholder='{{localize "SWADE.RollExample"}}'
      title='{{localize "SWADE.ModHint"}}'
      data-dtype='String'
    />
  </span>
</div>