<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    <header class="combat-tracker-header">
        {{#if user.isGM}}
        <nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
            <a class="combat-button combat-create" data-tooltip="COMBAT.Create">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterPrevious"
               {{#if previousId}}data-document-id="{{previousId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterNext"
               {{#if nextId}}data-document-id="{{nextId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-button combat-control" data-tooltip="COMBAT.Delete" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">
            {{#if combatCount}}
            {{#if combat.round}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
            {{else}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}}
            {{else}}
            <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
            {{/if}}

            {{#if user.isGM}}
            <a class="combat-button combat-control" data-tooltip="COMBAT.RollAll" data-control="rollAll" {{#unless turns}}disabled{{/unless}}>
                <i class="fas fa-users"></i>
            </a>
            <a class="combat-button combat-control" data-tooltip="COMBAT.RollNPC" data-control="rollNPC" {{#unless turns}}disabled{{/unless}}>
                <i class="fas fa-users-cog"></i>
            </a>
            <a class="combat-button combat-control" title="{{localize 'COMBAT.InitiativeReset'}}" data-control="resetAll"
                {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-undo"></i>
            </a>
            <a class="combat-button combat-control" title="{{labels.scope}}"
                data-control="toggleSceneLink" {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
            </a>
            {{!TODO: Replace recycle icon with cards icon. This will cue the user back to the cards icon in the sidebar, more clearly relating the button to the cards.}}
            <a class="combat-button combat-control" title="{{localize 'SWADE.ActionDeckReset'}}" data-control="resetDeck">
                <i class="fas fa-recycle"></i>
            </a>
            <a class="combat-settings" title="{{localize 'COMBAT.Settings'}}" data-control="trackerSettings">
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
        </div>
    </header>

    <ol id="combat-tracker" class="directory-list">
        {{#each turns}}
        <li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
            <div class="token-initiative" style="border-right-color: {{#if (isInGroup this.id)}}{{leaderColor this.id}}{{else if this.defeated}}#fff{{else}}{{groupColor this.id}}{{/if}}; {{#if this.defeated}}opacity: 0.3;{{/if}}">
                {{#if this.emptyInit}}
                <span class="initiative"></span>
                {{else if this.roundHeld}}
                <span class="initiative"><i class="fas fa-hand-rock"></i></span>
                {{else if this.turnLost}}
                <span class="initiative"><i class="fas fa-ban"></i></span>
                {{else if this.hasRolled}}
                <span class="initiative">{{this.cardString}}</span>
                {{else if this.owner}}
                <a class="combatant-control roll" data-tooltip="{{localize 'SWADE.DrawInit'}}" data-control="rollInitiative"></a>
                {{else}}
                <span class="initiative"></span>
                {{/if}}
            </div>
            <img class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
            <div class="token-name flexcol">
                <h4>{{this.name}}</h4>
                <div class="combatant-controls flexrow">
                    {{#if this.canPing}}
                    <a class="combatant-control" data-tooltip="COMBAT.PingCombatant" data-control="pingCombatant">
                        <i class="fa-solid fa-bullseye-arrow"></i>
                    </a>
                    {{/if}}
                    {{#if ../user.isGM}}
                    <a class="combatant-control {{#if this.hidden}}active{{/if}}" data-tooltip="COMBAT.ToggleVis" data-control="toggleHidden">
                        <i class="fas fa-eye-slash"></i>
                    </a>
                    <a class="combatant-control {{#if this.defeated}}active{{/if}}" data-tooltip="COMBAT.ToggleDead" data-control="toggleDefeated">
                        <i class="fas fa-skull"></i>
                    </a>
                    {{#if ../combat.started}}
                    {{#if this.active}}
                    {{#unless (or (isInGroup this.id) (gt ../combat.round (roundHeld this.id)) (turnLost this.id))}}
                    <a class="combatant-control {{#if (isOnHold this.id)}}active{{/if}}" title="{{localize 'SWADE.Hold'}}" data-control="toggleHold">
                        <i class="fas fa-hand-rock"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{#if (or (isOnHold this.id) (turnLost this.id))}}
                    <a class="combatant-control {{#if (turnLost this.id)}}active{{/if}}" title="{{localize 'SWADE.LoseTurn'}}" data-control="toggleLostTurn">
                        <i class="fas fa-ban"></i></a>
                    {{/if}}
                    {{#unless (isInGroup this.id)}}
                    {{#if (isOnHold this.id)}}
                    {{#unless (and (eq ../combat.round (roundHeld this.id)) (eq ../combat.combatant.id this.id))}}
                    <a class="combatant-control active" title="{{localize 'SWADE.ActBeforeCurrentCombatant'}}" data-control="actNow">
                        <i class="fas fa-long-arrow-alt-right"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{#if (and (isOnHold this.id) (eq this.active false))}}
                    {{#unless this.active}}
                    <a class="combatant-control {{#if (eq this.active false)}}active{{/if}}" title="{{localize 'SWADE.ActAfterCurrentCombatant'}}" data-control="actAfter">
                        <i class="fas fa-level-down-alt"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{/unless}}
                    {{/if}}
                    {{/if}}
                    <div class="token-effects">
                        {{#each this.effects}}
                        <img class="token-effect" src="{{this}}"/>
                        {{/each}}
                    </div>
                </div>
            </div>

            {{#if this.hasResource}}
            <div class="token-resource">
                <span class="resource">{{this.resource}}</span>
            </div>
            {{/if}}

        </li>
        {{/each}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow" data-tooltip-direction="UP">
        {{#if hasCombat}}
        {{#if user.isGM}}
        {{#if round}}
        <a class="combat-control" data-tooltip="COMBAT.RoundPrev" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
        <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
        <a class="combat-control center" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
        <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
        <a class="combat-control" data-tooltip="COMBAT.RoundNext" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
        {{else}}
        <a class="combat-control center" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
        {{/if}}
        {{else if control}}
        <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
        <a class="combat-control center" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
        <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
        {{/if}}
        {{/if}}
    </nav>
</section>
