<form class='main-grid {{cssClass}}' autocomplete='off'>
  <figure class='grid-under gu-1'></figure>
  <figure class='grid-under gu-2'></figure>
  <figure class='grid-under gu-3'></figure>
  <figure class='grid-under gu-4'></figure>

  {{!-- Sheet Header --}}
  {{> 'systems/swade/templates/item/partials/header.hbs'}}

  {{!-- Sidebar --}}
  <section class='sheet-sidebar'>
    <div class="form-group">
      <button class="use-consumable">{{localize "SWADE.Consumable.Use"}}</button>
    </div>
    {{> 'systems/swade/templates/item/partials/equipped.hbs'}}
    <div class="form-group">
      <label>{{localize "SWADE.Charges"}}</label>
      <span class='form-fields text-center'>
        <input
          name='system.charges.value'
          type='number'
          value='{{item.system.charges.value}}'
          data-dtype="Number"
        />
        <strong class="flex-separator">/</strong>
        <input
          name='system.charges.max'
          type='number'
          value='{{item.system.charges.max}}'
          data-dtype="Number"
        />
      </span>
    </div>
    <div class='form-group'>
      <label for='data.weight'>{{localize 'SWADE.Weight'}}</label>
      <span class='form-fields'>
        <input
          name='system.weight'
          type='text'
          value='{{item.system.weight}}'
          placeholder='{{localize "SWADE.Weight"}}'
          data-dtype='Number'
        />
      </span>
    </div>
    {{> 'systems/swade/templates/item/partials/additional-stats.hbs'}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class='tabs' data-group='main'>
    <a class='item' data-tab='description' data-group='main'>
      {{localize 'SWADE.Desc'}}
    </a>
    <a class='item' data-tab='effects'>{{localize 'SWADE.Effects'}}</a>
  </nav>

  {{!-- Main Section --}}
  <section class='sheet-body'>
    <section class='tab description' data-group='main' data-tab='description'>
      <div class="form-group">
        <label>{{localize "SWADE.DestroyOnEmpty"}}</label>
          <span class='form-fields'>
            <input type='checkbox' name='system.destroyOnEmpty' {{checked item.item.system.destroyOnEmpty}}/>
          </span>
      </div>
      {{> 'systems/swade/templates/item/partials/tabs/description.hbs'}}
    </section>
    <section class='tab effects' data-group='main' data-tab='effects'>
      {{> 'systems/swade/templates/item/partials/tabs/effects.hbs'}}
    </section>
  </section>

  <figure class='grid-cover gc-1'></figure>
  <figure class='grid-cover gc-2'></figure>
  <figure class='grid-cover gc-3'></figure>
  <figure class='grid-cover gc-4'></figure>
</form>