<form class='main-grid {{cssClass}}' autocomplete='off'>
  <figure class='grid-under gu-1'></figure>
  <figure class='grid-under gu-2'></figure>
  <figure class='grid-under gu-3'></figure>
  <figure class='grid-under gu-4'></figure>

  {{!-- Sheet Header --}}
  {{> 'systems/swade/templates/item/partials/header.hbs'}}

  {{!-- Sidebar --}}
  <section class='sheet-sidebar'>
    <div class="form-group">
      <label>{{localize "SWADE.Rank"}}</label>
      <span class="form-fields">
        <input
          name="system.rank"
          type="text"
          value="{{item.system.rank}}"
          placeholder="{{localize 'SWADE.Rank'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.PPShort"}}</label>
      <span class="form-fields">
        <input
          name="system.pp"
          type="text"
          value="{{item.system.pp}}"
          placeholder="{{localize 'SWADE.PP'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.Range._name"}}</label>
      <span class="form-fields">
        <input
          name="system.range"
          type="text"
          value="{{item.system.range}}"
          placeholder="{{localize 'SWADE.Range._name'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.Dur"}}</label>
      <span class="form-fields">
        <input
          name="system.duration"
          type="text"
          value="{{item.system.duration}}"
          placeholder="{{localize 'SWADE.Dur'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.Dmg"}}</label>
      <span class="form-fields">
        <input
          name="system.damage"
          type="text"
          value="{{item.system.damage}}"
          placeholder="{{localize 'SWADE.Dmg'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.Ap"}}</label>
      <span class="form-fields">
        <input
          name="system.ap"
          type="number"
          value="{{item.system.ap}}"
          placeholder="{{localize 'SWADE.Ap'}}"
          data-dtype="Number"
      /></span>
    </div>
    <div class="form-group">
      <label>{{localize "SWADE.Arcane"}}</label>
      <span class="form-fields">
        <input
          name="system.arcane"
          type="text"
          value="{{item.system.arcane}}"
          placeholder="{{localize 'SWADE.Arcane'}}"
          data-dtype="String"
      /></span>
    </div>
    <hr>
    {{> 'systems/swade/templates/item/partials/additional-stats.hbs'}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class='tabs' data-group='main'>
    <a class='item' data-tab='description' data-group='main'>
      {{localize 'SWADE.Desc'}}
    </a>
    <a class='item' data-tab='properties' data-group='main'>
      {{localize 'SWADE.Properties'}}
    </a>
    <a class='item' data-tab='actions'>{{localize 'SWADE.Actions'}}</a>
  </nav>

  {{!-- Main Section --}}
  <section class='sheet-body'>
    <section class='tab description' data-group='main' data-tab='description'>
      <div>
        <input
          name="system.trapping"
          type="text"
          value="{{item.system.trapping}}"
          placeholder="{{localize 'SWADE.Trap'}}"
          title="{{localize 'SWADE.Trap'}}"
          data-dtype="String"
        />
      </div>
      {{> 'systems/swade/templates/item/partials/tabs/description.hbs'}}
    </section>
    <section class='tab properties' data-group='main' data-tab='properties'>
      <h4>{{localize "SWADE.Templates.Possible"}}</h4>
      <div class="column-grid three-columns">
        <div class="form-group">
          <input
            type="checkbox"
            name="system.templates.small"
            {{checked item.system.templates.small}}
            data-dtype="Boolean"
          />
          <label>{{localize 'SWADE.Templates.Small.Short'}}</label>
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            name="system.templates.medium"
            {{checked item.system.templates.medium}}
            data-dtype="Boolean"
          />
          <label>{{localize 'SWADE.Templates.Medium.Short'}}</label>
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            name="system.templates.large"
            {{checked item.system.templates.large}}
            data-dtype="Boolean"
          />
          <label>{{localize 'SWADE.Templates.Large.Short'}}</label>
        </div>
        <div class="form-group">
          <input
              type="checkbox"
              name="system.templates.cone"
              {{checked item.system.templates.cone}}
              data-dtype="Boolean"
            />
          <label>{{localize 'SWADE.Templates.Cone.Short'}}</label>
        </div>
        <div class="form-group">
          <input
              type="checkbox"
              name="system.templates.stream"
              {{checked item.system.templates.stream}}
              data-dtype="Boolean"
            />
          <label>{{localize 'SWADE.Templates.Stream.Short'}}</label>
        </div>
      </div>
      <hr>
      {{> 'systems/swade/templates/item/partials/action-properties.hbs'}}
      {{> 'systems/swade/templates/item/partials/bonus-damage.hbs'}}
    </section>
    <section class='tab actions' data-group='main' data-tab='actions'>
      {{> 'systems/swade/templates/item/partials/tabs/actions.hbs'}}
    </section>
  </section>

  <figure class='grid-cover gc-1'></figure>
  <figure class='grid-cover gc-2'></figure>
  <figure class='grid-cover gc-3'></figure>
  <figure class='grid-cover gc-4'></figure>
</form>