<form autocomplete='off'>
  {{#if isActor}}
    <section id='maxValues'>
      {{#if isNPC}}
        <div class='form-group' id='isWildCard'>
          <label for='{{doc.id}}-wildcard'>{{localize 'SWADE.WildCard'}}</label>
          <span class='form-fields'>
            <input
              type='checkbox'
              name='system.wildcard'
              id='{{doc.id}}-wildcard'
              {{checked doc.isWildcard}}
            />
          </span>
        </div>
      {{/if}}
      {{#unless isVehicle}}
        <div class='form-group' id='animalSmarts'>
          <label for='{{doc.id}}-animalSmarts'>
            {{localize 'SWADE.AnimalSmarts'}}
          </label>
          <span class='form-fields'>
            <input
              type='checkbox'
              name='system.attributes.smarts.animal'
              id='{{doc.id}}-animalSmarts'
              {{checked doc.system.attributes.smarts.animal}}
            />
          </span>
        </div>
        <div class='form-group'>
          <label for='{{doc.id}}-advances'>{{localize 'SWADE.Adv'}}</label>
          <span class='form-fields'>
            <select name='system.advances.mode' id='{{doc.id}}-advances'>
              {{#select doc.system.advances.mode}}
                {{selectOptions
                  advanceTypes
                  selected=doc.system.advances.mode
                  localize=true
                }}
              {{/select}}
            </select>
          </span>
        </div>
        <div class='form-group' id='basePace'>
          <label>{{localize 'SWADE.BasePace'}}</label>
          <span class='form-fields'>
            <input
              type='text'
              name='system.stats.speed.value'
              value='{{doc.system.stats.speed.value}}'
              data-dtype='Number'
            />
          </span>
        </div>
        <div class='form-group' id='runningDie'>
          <label>{{localize 'SWADE.RunningDie'}}</label>
          <span class='form-fields'>
            <select
              class='running-die'
              name='system.stats.speed.runningDie'
              data-dtype='Number'
            >
              {{#select doc.system.stats.speed.runningDie}}
                <option value='1'>1</option>
                <option value='4'>d4</option>
                <option value='6'>d6</option>
                <option value='8'>d8</option>
                <option value='10'>d10</option>
                <option value='12'>d12</option>
              {{/select}}
            </select>
            <input
              type='text'
              name='system.stats.speed.runningMod'
              value='{{doc.system.stats.speed.runningMod}}'
              data-dtype='Number'
            />
          </span>
        </div>
      {{/unless}}
      <div class='form-group' id='maxWounds'>
        <label>{{localize 'SWADE.WoundsMax'}}</label>
        <span class='form-fields'>
          <input
            type='text'
            name='system.wounds.max'
            value='{{doc.system.wounds.max}}'
            data-dtype='Number'
          />
        </span>
      </div>
      {{#unless isVehicle}}
        <div class='form-group' id='maxFatigue'>
          <label>{{localize 'SWADE.FatigueMax'}}</label>
          <span class='form-fields'>
            <input
              type='text'
              name='system.fatigue.max'
              value='{{doc.system.fatigue.max}}'
              data-dtype='Number'
            />
          </span>
        </div>
      {{/unless}}
      {{#if isCharacter}}
        <div class='form-group' id='maxBennies'>
          <label>{{localize 'SWADE.BenniesMax'}}</label>
          <span class='form-fields'>
            <input
              class='bennies-max'
              name='system.bennies.max'
              type='text'
              value='{{doc.system.bennies.max}}'
              data-dtype='Number'
            />
          </span>
        </div>
      {{/if}}
      <div class='form-group' id='ignoredWounds'>
        <label for='system.wounds.ignored'>
          {{localize 'SWADE.IgnWounds'}}
        </label>
        <span class='form-fields'>
          <input
            id='system.wounds.ignored'
            name='system.wounds.ignored'
            type='text'
            value='{{doc.system.wounds.ignored}}'
            data-dtype='Number'
          />
        </span>
      </div>
      {{#if isVehicle}}
        <div class='form-group' id='maxCargo'>
          <label for='system.maxCargo'>{{localize 'SWADE.MaxCargo'}}</label>
          <span class='form-fields'>
            <input
              id='system.maxCargo'
              name='system.maxCargo'
              type='text'
              value='{{doc.system.maxCargo}}'
              data-dtype='Number'
            />
          </span>
        </div>
        <div class='form-group' id='maxMods'>
          <label for='system.maxMods'>{{localize 'SWADE.MaxMods'}}</label>
          <span class='form-fields'>
            <input
              id='system.maxMods'
              name='system.maxMods'
              type='text'
              value='{{doc.system.maxMods}}'
              data-dtype='Number'
            />
          </span>
        </div>
      {{/if}}
    </section>
    <section id='initiative'>
      <h2>{{localize 'SWADE.Init'}}</h2>
      <div class='form-group'>
        <label for='{{doc.id}}-hasLevelHeaded'>
          {{localize 'SWADE.LevelHeaded'}}
        </label>
        <span class='form-fields'>
          <input
            type='checkbox'
            name='system.initiative.hasLevelHeaded'
            id='{{doc.id}}-hasLevelHeaded'
            {{checked doc.system.initiative.hasLevelHeaded}}
          />
        </span>
      </div>
      <div class='form-group'>
        <label for='{{doc.id}}-hasImpLevelHeaded'>
          {{localize 'SWADE.ImprovedLevelHeaded'}}
        </label>
        <span class='form-fields'>
          <input
            type='checkbox'
            name='system.initiative.hasImpLevelHeaded'
            id='{{doc.id}}-hasImpLevelHeaded'
            {{checked doc.system.initiative.hasImpLevelHeaded}}
          />
        </span>
      </div>
      <div class='form-group'>
        <label for='{{doc.id}}-hasHesitant'>{{localize 'SWADE.Quick'}}</label>
        <span class='form-fields'>
          <input
            type='checkbox'
            name='system.initiative.hasQuick'
            id='{{doc.id}}-hasQuick'
            {{checked doc.system.initiative.hasQuick}}
          />
        </span>
      </div>
      <div class='form-group'>
        <label for='{{doc.id}}-hasHesitant'>
          {{localize 'SWADE.Hesitant'}}
        </label>
        <span class='form-fields'>
          <input
            type='checkbox'
            name='system.initiative.hasHesitant'
            id='{{doc.id}}-hasHesitant'
            {{checked doc.system.initiative.hasHesitant}}
          />
        </span>
      </div>
    </section>
    {{#unless isVehicle}}
      <section id='autocalculation'>
        <h2>{{localize 'SWADE.AutoCalc'}}</h2>
        <div class='form-group'>
          <label for='{{doc.id}}-autoCalcToughness'>
            {{localize 'SWADE.Tough'}}
          </label>
          <span class='form-fields'>
            <input
              type='checkbox'
              name='system.details.autoCalcToughness'
              id='{{doc.id}}-autoCalcToughness'
              {{checked doc.system.details.autoCalcToughness}}
            />
          </span>
          <p class='notes'>{{localize 'SWADE.InclArmor'}}</p>
        </div>
        <div class='form-group'>
          <label for='{{doc.id}}-autoCalcParry'>
            {{localize 'SWADE.Parry'}}
          </label>
          <span class='form-fields'>
            <input
              type='checkbox'
              name='system.details.autoCalcParry'
              id='{{doc.id}}-autoCalcParry'
              {{checked doc.system.details.autoCalcParry}}
            />
          </span>
          <p class='notes'>{{localize 'SWADE.AutoCalcParry'}}</p>
        </div>
      </section>
    {{/unless}}
  {{/if}}
  <section id='additionalStats'>
    <h2>{{localize 'SWADE.AddStats'}}</h2>
    <header class='form-group flexrow additionalStats-header'>
      <div>{{localize 'SWADE.Label'}}</div>
      <div class='centered'>{{localize 'SWADE.HasMaxValue'}}</div>
      <div class='centered'>{{localize 'SWADE.Enabled'}}</div>
    </header>
    {{#each settingFields as |attr key|}}
      <div class='flexrow'>
        <div style='text-align: left'>
          <label for='{{doc.id}}-{{key}}-useField'>{{attr.label}}</label>
        </div>
        <div class='centered'>
          <input type='checkbox' {{checked attr.hasMaxValue}} disabled />
        </div>
        <div class='centered'>
          <input
            type='checkbox'
            name='system.additionalStats.{{key}}.useField'
            id='{{doc.id}}-{{key}}-useField'
            {{checked attr.useField}}
          />
        </div>
      </div>
    {{/each}}
  </section>
  <br />
  <footer class='sheet-footer'>
    <button type='submit'>
      <i class='fas fa-save'></i>{{localize 'Save Changes'}}
    </button>
  </footer>
</form>