<div class="fatigue-wrapper" title="{{localize 'SWADE.Fatigue'}}">
  <span class="label">{{localize 'SWADE.Fatigue'}}</span>
  <div class="fatigue">
    <span class="values">
      <input
        type="number"
        name="system.fatigue.value"
        value="{{actor.system.fatigue.value}}"
      />/{{actor.system.fatigue.max}}
    </span>
  </div>
</div>
<div class="wounds-wrapper" title="{{localize 'SWADE.Wounds'}}">
  <span class="label">{{localize 'SWADE.Wounds'}}</span>
  <div class="wounds">
    <span class="values">
      <input
        type="number"
        name="system.wounds.value"
        value="{{actor.system.wounds.value}}"
      />/{{actor.system.wounds.max}}
    </span>
  </div>
</div>
<div class="status">
  <label class="check-container"
    >{{localize "SWADE.Shaken"}}
    <input
      type="checkbox"
      data-id="shaken"
      data-key="isShaken"
      {{checked
      actor.system.status.isShaken}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Distr"}}
    <input
      type="checkbox"
      data-id="distracted"
      data-key="isDistracted"
      {{checked
      actor.system.status.isDistracted}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Vuln"}}
    <input
      type="checkbox"
      data-id="vulnerable"
      data-key="isVulnerable"
      {{checked
      actor.system.status.isVulnerable}}
    />
    <span class="checkmark"></span>
  </label>
</div>
<div class="status">
  <label class="check-container"
    >{{localize "SWADE.Stunned"}}
    <input
      type="checkbox"
      data-id="stunned"
      data-key="isStunned"
      {{checked
      actor.system.status.isStunned}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Entangled"}}
    <input
      type="checkbox"
      data-id="entangled"
      data-key="isEntangled"
      {{checked
      actor.system.status.isEntangled}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Bound"}}
    <input
      type="checkbox"
      data-id="bound"
      data-key="isBound"
      {{checked
      actor.system.status.isBound}}
    />
    <span class="checkmark"></span>
  </label>
</div>
<div class="bennies" title="{{localize 'SWADE.Bennies'}}">
  {{#each currentBennies as |benny|}} {{#unless (gte @index 5) }}
  <span
    title="{{localize 'SWADE.BenniesSpend'}}"
    class="benny spend-benny"
    style="z-index: {{@index}}; grid-column: {{benny}} / span 8; background-image: url({{@root.bennyImageURL}});"
  ></span>
  {{/unless}} {{/each}}
  <button type="button" class="add-benny" title="{{localize 'SWADE.AddBenny'}}">
    <i class="fas fa-plus fa-lg"></i>
  </button>
  <button
    type="button"
    class="spend-benny current-bennies"
    title="{{localize 'SWADE.CurrentBennies'}}"
  >
    {{actor.system.bennies.value}}
  </button>
</div>

<span class="attributes primary">
  {{> "systems/swade/templates/official/partials/attributes.hbs"}}
</span>
<span class="attributes derived">
  <header class="section-header">{{localize "SWADE.Derived"}}</header>
  <span class="flexrow">
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Size" }}</span>
      <span class="stat-value flexrow">
        <input
          name="system.stats.size"
          type="text"
          value="{{actor.system.stats.size}}"
          data-dtype="Number"
        />
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{localize "SWADE.Pace"}}</span>
      <span class="stat-value flexrow">
        <input
          type="text"
          value="{{actor.system.stats.speed.adjusted}}"
          data-dtype="Number"
          placeholder="{{ localize 'SWADE.Pace' }}"
          disabled
        />
        <button
          type="button"
          class="running-die"
          title="{{localize 'SWADE.Roll'}} {{localize 'SWADE.RunningDie'}}"
          style="background-image: url(systems/swade/assets/official/dice/d{{actor.system.stats.speed.runningDie}}.svg);"
        >
          <span class="sr-only">
            d{{actor.system.stats.speed.runningDie}} {{localize 'SWADE.RunningDie'}}
            </span>
        </button>
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Parry" }}</span>
      <span class="stat-value flexrow">
        <input
          name="system.stats.parry.value"
          value="{{actor.system.stats.parry.value}}"
          type="text"
          placeholder="{{ localize 'SWADE.Parry' }}"
          data-dtype="Number"
          {{disabled
          actor.system.details.autoCalcParry}}
        />
        <button type="button" class="parry-display">
          {{signedString actor.system.stats.parry.modifier}}
        </button>
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Tough" }}</span>
      <span class="stat-value flexrow">
        <input
          id="toughness"
          name="system.stats.toughness.value"
          type="text"
          value="{{actor.system.stats.toughness.value}}"
          placeholder="{{localize 'SWADE.Tough'}}"
          data-dtype="Number"
          {{disabled
          actor.system.details.autoCalcToughness}}
        />
        <button
          type="button"
          class="armor-display"
          {{disabled
          actor.system.details.autoCalcToughness}}
        >
          {{actor.system.stats.toughness.armor}}
        </button>
      </span>
    </div>
  </span>
</span>

<span class="skills note-box">
  <div class="note-header">&nbsp;</div>
  <div class="note-main">
    <header class="section-header">
      <span class="name">{{localize "SWADE.Skills"}}</span>
      <button type="button" class="item-create controls" data-type="skill">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </header>
    <ol class="skill-list">
      {{#each sortedSkills as |skill|}}{{>
      "systems/swade/templates/official/partials/skill-card.hbs"}} {{/each}}
    </ol>
  </div>
  <div class="note-footer">&nbsp;</div>
</span>
<span class="quickaccess note-box">
  <div class="note-header">&nbsp;</div>
  <div class="note-main">
    {{> "systems/swade/templates/official/partials/setting-fields.hbs"}}
    <header class="section-header">
      <span class="name">{{localize "SWADE.QuickAccess"}}</span>
      <button
        type="button"
        class="item-create controls"
        data-type="choice"
        data-equipped="true"
        data-choices="weapon,power,armor,shield,effect"
      >
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </header>
    <ol class="quick-list">
      {{#each actor.effects}}
        {{#if flags.swade.favorite}}
          <li class="gear-card item {{#if disabled}}disabled-effect{{/if}}" data-effect-id="{{id}}">
            <div class="card-header flexrow">
              <div class="item-image" style="background-image: url('{{icon}}')"></div>
              {{#if origin}}
                <button type="button" class="item-name effect-action" data-action="open-origin" title="{{localize "SWADE.OpenOrigin"}}">{{label}}</button>
              {{else}}
                <div class="item-name">{{label}}</div>
              {{/if}}
              <div class="item-controls">
                <button type="button" class="item-control effect-action" data-action="toggle" data-toggle="disabled">
                  <i class="fas fa-power-off"></i>
                </button>
              </div>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.weapon}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    {{#if actor.hasArcaneBackground}}
    <ol class="quick-list">
      {{#each actor.itemTypes.power}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    {{/if}}
    <ol class="quick-list">
      {{#each actor.itemTypes.armor}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.shield}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.consumable}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.gear}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.edge}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.hindrance}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each actor.itemTypes.ability}}
        {{#if system.favorite}}
          {{> "systems/swade/templates/official/partials/item-card.hbs"}}
        {{/if}}
      {{/each}}
    </ol>
  </div>
  <div class="note-footer">&nbsp;</div>
</span>
