<li class='gear-card item misc' data-item-id='{{_id}}'>
  <header class='flexrow card-header'>
    <div class='item-image' style="background-image: url('{{img}}')"></div>
    <h4 class='item-name'>{{name}}</h4>
    <div class='item-controls'>
      <a class='item-control item-show'><i class='fas fa-eye'></i></a>
      {{#if owner}}
        <a class='item-control item-edit' title='{{localize "SWADE.ItemEdit"}}'>
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize "SWADE.ItemDelete"}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      {{/if}}
    </div>
  </header>
  <div class='card-content collapsed' style='display: none;'>
    <div>
      <a class='use-consumable'>
        {{localize 'SWADE.Charges'}}:
        {{system.charges.value}}/{{system.charges.max}}
      </a>
    </div>
    {{enrich system.description}}
  </div>
</li>