<li class='gear-card item power' data-item-id='{{_id}}'>
  <header class='flexrow card-header'>
    <div class='item-image' style="background-image: url('{{img}}')"></div>
    <h4 class='item-name'>{{name}}</h4>
    <div class='item-controls'>
      <a class='item-control item-show'><i class='fas fa-eye'></i></a>
      {{#if owner}}
        <a
          class='item-control item-edit'
          title='{{localize "SWADE.ItemEdit"}}'
        ><i class='fas fa-edit'></i></a>
        <a
          class='item-control item-delete'
          title='{{localize "SWADE.ItemDelete"}}'
        ><i class='fas fa-trash'></i></a>
      {{/if}}
    </div>
  </header>
  <div class='card-content collapsed' style='display: none;'>
    {{#if system.damage}}
      <div>
        <a class='damage-roll' title='{{localize "SWADE.Roll"}}'>{{localize
            'SWADE.Dmg'
          }}:
          {{system.damage}}</a>
      </div>
    {{/if}}
    {{#if system.pp}}
      <div>{{localize 'SWADE.PP'}}: {{system.pp}}</div>
    {{/if}}
    {{#if system.range}}
      <div>{{localize 'SWADE.Range._name'}}: {{system.range}}</div>
    {{/if}}
    {{#if system.duration}}
      <div class='flexrow ellipsize'>
        <div>{{localize 'SWADE.Dur'}}: {{system.duration}}</div>
      </div>
    {{/if}}
  </div>
</li>