<div class="flexrow">
  <div class="form-group header-field">
    <div class="arcane-tabs">
      <div class="arcane" data-arcane="All">{{localize "SWADE.All"}}</div>
      {{#each arcanes as |arcane id|}}
      <div class="arcane" data-arcane="{{arcane}}">{{arcane}}</div>
      {{/each}}
    </div>
    <!-- Global counter -->
    {{#unless settingrules.noPowerPoints}}
    <div class="power-counter" data-arcane="All">
      <label for="data.powerPoints.value">{{localize "SWADE.PP"}}</label>
      <input
        name="system.powerPoints.value"
        type="text"
        value="{{actor.system.powerPoints.value}}"
        placeholder="{{localize 'SWADE.CurPP'}}"
        data-dtype="Number"
      />
      <span>/</span>
      <input
        name="system.powerPoints.max"
        type="text"
        value="{{actor.system.powerPoints.max}}"
        placeholder="{{localize 'SWADE.MaxPP'}}"
        data-dtype="Number"
      />
    </div>
    <!-- Individual counters -->
    {{#each arcanes as |arcane id|}}
    <div class="power-counter" data-arcane="{{arcane}}">
      {{#with (lookup ../actor.system.powerPoints arcane)}}
      <label for="system.powerPoints.{{arcane}}.value">
        {{localize "SWADE.PP"}}
      </label>
      <input
        name="system.powerPoints.{{arcane}}.value"
        type="text"
        value="{{value}}"
        placeholder="{{localize 'SWADE.CurPP'}}"
        data-dtype="Number"
      />
      <span>/</span>
      <input
        name="system.powerPoints.{{arcane}}.max"
        type="text"
        value="{{max}}"
        placeholder="{{localize 'SWADE.MaxPP'}}"
        data-dtype="Number"
      />
      {{/with}}
    </div>
    {{/each}} {{/unless}}
    <div class="header-field-add">
      <a class="item-create" data-type="power"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>
<powers {{{powersOptions}}}>
  {{#each actor.itemTypes.power}}
  <div
    class="power item"
    data-item-id="{{id}}"
    data-arcane="{{system.arcane}}"
  >
    <div class="power-header flexrow">
      <div
        class="item-image"
        style="background-image: url('{{img}}')"
      ></div>
      <h4 class="item-name">{{name}}</h4>
      {{#if ../owner}}
      <div class="item-controls flexrow">
        {{#unless (eq ../actor.type "npc")}}
        <a
          class="item-control item-toggle {{#unless system.data.equipped}}item-unequipped{{/unless}}"
          title='{{localize "SWADE.Equipped"}}'
          ><i class="fas fa-star"></i>
        </a>
        {{/unless}}
        <a class="item-show"><i class="fas fa-eye"></i></a>
        <a class="item-edit"><i class="fas fa-edit"></i></a>
      </div>
      {{/if}}
    </div>
    <div class="power-content">
      <div class="power-details">
        <div class="flexrow">
          {{#if system.rank}}
          <div>{{localize 'SWADE.Rank'}}: {{system.rank}}</div>
          {{/if}} {{#if system.pp}}
          <div>{{system.pp}} PP</div>
          {{/if}}
        </div>
        <div class="flexrow">
          {{#if system.range}}
          <div>{{localize 'SWADE.Range._name'}}: {{system.range}}</div>
          {{/if}} {{#if system.duration}}
          <div>{{localize 'SWADE.Dur'}}: {{system.duration}}</div>
          {{/if}}
        </div>
        {{#if system.damage}}
        <div>
          {{localize 'SWADE.Dmg'}}:
          <a class="damage-roll">{{system.damage}}</a>
        </div>
        {{/if}}
      </div>
      <div class="power-description">{{enrich system.description}}</div>
    </div>
  </div>
  {{/each}}
</powers>
