<div id='opSkill'>
  <label>{{localize 'SWADE.OpSkill'}}</label>
  <select name='system.driver.skill'>
    {{#select actor.system.driver.skill}} {{selectOptions opSkills}} {{/select}}
  </select>
  {{#if (isEmpty actor.system.driver.skill)}}
    <label>{{localize 'SWADE.AltSkill'}}</label>
    <input
      type='text'
      value='{{actor.system.driver.skillAlternative}}'
      name='system.driver.skillAlternative'
    />
  {{/if}}
</div>
<br />
<div class='description'>
  <header class='header-field'>
    <span>{{localize 'SWADE.Desc'}}</span>
  </header>
  <span class='vehicle-editor'>
    {{editor
      enrichedDescription
      target='system.description'
      button=true
      owner=owner
      editable=editable
    }}
  </span>
</div>