.dice-roll {
  .dice-result {
    .dice-formula,
    .dice-total {
      height: 30px;
      .dice {
        margin: 2px;
        display: inline-flex;
        width: 25px;
        height: 25px;
        label {
          font-weight: bold;
          text-align: center;
          width: 100%;
          z-index: 1;
        }
        img {
          position: absolute;
          width: 25px;
          height: 25px;
          border: none;
        }
      }
      .modifier {
        margin: 2px;
        display: inline-flex;
      }
    }
  }
}

.swade.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
      border: none;
      object-fit: cover;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      color: #111;
      overflow: hidden;
      height: 30px;
      word-break: break-all;
      &:hover {
        color: #111;
      }
    }
  }

  .card-content {
    margin: 5px 0;
    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-buttons {
    margin: 5px 0;

    span {
      line-height: 28px;
      text-align: center;
    }

    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    span {
      border-right: 2px groove #fff;
      padding: 0 5px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

.chat-message {
  .message-header .message-sender {
    white-space: normal;
  }
  .initiative-draw {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0.5em;
    .result-text-card {
      font-size: 1.125em;
      font-weight: 700;
      line-height: 1;
      order: 2;
      margin-bottom: 0;
    }
    .action-card-filter-container {
      z-index: 1;
      border: none;
      filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 50%));
      transition: transform 0.2s ease-in, filter 0.2s ease-in,
        z-index 0.2s step-end;
      transform-origin: center left;

      .result-image {
        height: 75px;
        aspect-ratio: 1/1.4;
        z-index: 2;
        border: none;
        transition: z-index 0.2s step-end;
      }

      &:hover {
        z-index: 3;
        filter: drop-shadow(4px 6px 4px rgb(0 0 0 / 50%));
        transition: transform 0.2s ease-in, z-index 0.2s step-start;

        .result-image {
          z-index: 4;
          transition: z-index 0.2s step-start;
        }
      }
    }
  }
  &:nth-child(4n + 1) .initiative-draw .action-card-filter-container {
    transform: rotate(2deg);

    &:hover {
      transform: rotate(0deg) scale(4.75);
    }
  }
  &:nth-child(4n + 2) .initiative-draw .action-card-filter-container {
    transform: rotate(-4deg);

    &:hover {
      transform: rotate(0deg) scale(4.75);
    }
  }
  &:nth-child(4n + 3) .initiative-draw .action-card-filter-container {
    transform: rotate(4deg);

    &:hover {
      transform: rotate(0deg) scale(4.75);
    }
  }
  &:nth-child(4n + 4) .initiative-draw .action-card-filter-container {
    transform: rotate(-2deg);

    &:hover {
      transform: rotate(0deg) scale(4.75);
    }
  }
  &:first-child .initiative-draw .action-card-filter-container,
  &:nth-of-type(2) .initiative-draw .action-card-filter-container {
    transform-origin: top left;

    &:hover {
      transform-origin: top left;
    }
  }
  &:last-child .initiative-draw .action-card-filter-container,
  &:nth-last-of-type(2):not(:nth-of-type(2))
    .initiative-draw
    .action-card-filter-container {
    transform-origin: bottom left;

    &:hover {
      transform-origin: bottom left;
    }
  }
}
